.main{
  height: 100vh;
}

hr{
  border: 1px black solid;
}

button{
  border-radius: 10px;
}

.spinner-content{
  min-height: 300px;
  max-height: 300px;
  overflow-y: scroll;
  transition-duration: 2400ms;
       -webkit-animation:slide 16s infinite;
     -moz-animation:slide 16s infinite;
     animation:slide 16s infinite;
  /* transform: translate(0px, -216px) */
}

    .spinner {
        transform: translate(0, 0);
    }
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
